*.class
*.iml
*.ipr
*.iws
.idea/
.hg/
.hgignore
.svn
.metadata/
.classpath
.project
.settings/
target/
runner/
.DS_Store
org.gatherdata.app.sling.gwt.example/war/gather.example/
org.gatherdata.app.sling.gwt.example/war/WEB-INF/classes/
org.gatherdata.app.sling.gwt.smartgwt/war/gather.smartgwt/
org.gatherdata.app.sling.gwt.smartgwt/war/WEB-INF/classes/
org.gatherdata.app.sling.gwt.archiver/war/gather.archiver/
org.gatherdata.app.sling.gwt.archiver/war/WEB-INF/classes/
org.gatherdata.app.sling.gwt.alert/war/gather.archiver/
org.gatherdata.app.sling.gwt.alert/war/WEB-INF/classes/
org.gatherdata.app.sling.gwt.forms/war/gather.forms/
org.gatherdata.app.sling.gwt.forms/war/WEB-INF/classes/
